Django==1.11.28
django-attachments==1.0
django-colorfield==0.1.10
django-contrib-comments==1.7.1
django-crispy-forms==1.6.0
django-extensions==1.6.7
django-model-utils==2.5
django-mptt==0.8.4
django-mptt-admin==0.3.6
django-notifications==0.1.dev0
django-notifications-hq==1.1
django-summernote==0.8.5
django-tag-parser==2.1
django-tenant-schemas==1.6.2
elasticsearch==2.3.0
env==0.1.0
jsonfield==1.0.3
Pillow==3.2.0
psycopg2==2.6.1
pytz==2016.4
simplejson==3.8.2
six==1.10.0
urllib3==1.15.1
virtualenv==15.0.1
django-storages
boto